# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Secrets / environment variables
.env
*.env
firebase_key.json

# Editor/IDE files
.vscode/
.idea/

# Temporary OS files
.DS_Store
Thumbs.db
